.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalhoPrincipal-nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.flex-ConteudoPrincipal {
    display: flex;
    justify-content: center;
}
.flex-conteudo-concluido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.75rem;
    margin-bottom: 2rem;
    
}

.rodapePrincipal {
    display: flex;
    justify-content: center;
}