.cabecalhoPrincipal .container {
    display: flex;
    justify-content: flex-end;

}

.cabecalhoPrincipal-nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.conteudoPrincipal {
    display: flex;
    
}

.rodapePrincipal {
    display: flex;
}