.cabecalho {
    display: flex;
    justify-content: space-between;
   align-items: center;
}

.cabecalhoPrincipal-nav {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.flex-conteudo-concluido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.75rem;
    margin-bottom: 2rem;
    
}