body {

    background-color: #355C7D;
    font-family: Arial, Helvetica, sans-serif;    
    font-family: 'Pacifico', cursive;	
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.rodapePrincipal {
    text-align: center;
	background: url("../../img/bg.jpg");
	padding: 25px 0;
	margin-top: 20px;
    color: aliceblue;
}