.cabecalho {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 10px #55a6ff38;
    margin-bottom: 7rem;
}

.cabecalho-logo {
    width: 5rem;
    padding-left: 40px;
}
.cabecalhoPrincipal-nav {
    display: flex;
}